@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-accent: #f4f4f5;
  --color-muted: #71717a;
  --color-border: #000000;

  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

:root {
  color-scheme: light;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden;
}

* {
  border-color: var(--color-border);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
  border-left: 2px solid black;
}

::-webkit-scrollbar-thumb {
  background: black;
  border: 2px solid white;
}

/* Neo-Brutalist Utilities */
.neo-box {
  border: 2px solid black;
  background: white;
  box-shadow: 4px 4px 0px 0px black;
}

.neo-btn {
  background: black;
  color: white;
  border: 2px solid black;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  transition: all 0.1s;
  cursor: pointer;
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
}

.neo-btn:hover {
  transform: translate(-1px, -1px);
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}

.neo-btn:active {
  transform: translate(2px, 2px);
  box-shadow: 0px 0px 0px 0px black;
}